# k8s/values/collector.yaml

k8sCluster: "k3s-cluster"

opentelemetry-operator:
  enabled: false

image:
  repository: "otel/opentelemetry-collector-contrib"
  tag: "0.104.0"

# 1. AGENT (DaemonSet)
agent:
  enabled: true
  # Fix: Change internal telemetry port to avoid Host Network collisions
  service:
    telemetry:
      metrics:
        address: "0.0.0.0:8889"

# 2. GATEWAY (Deployment)
gateway:
  enabled: true
  # Fix: Change internal telemetry port just in case
  service:
    telemetry:
      metrics:
        address: "0.0.0.0:8890"

# GLOBAL Exporter Override
exporters:
  otlphttp/openobserve:
    endpoint: "http://openobserve-router.o2-system.svc.cluster.local:5080/api/default"
    headers:
      Authorization: "Basic ${root_auth}"
  
  otlphttp/openobserve_k8s_events:
    endpoint: "http://openobserve-router.o2-system.svc.cluster.local:5080/api/default"
    headers:
      Authorization: "Basic ${root_auth}"
      stream-name: "k8s_events"