mode: deployment
image:
  repository: "otel/opentelemetry-collector-contrib"
  tag: "0.114.0"

# Inject the secret for Authorization Headers
extraEnvVars:
  - name: ROOT_AUTH
    valueFrom: { secretKeyRef: { name: o2-platform-secret, key: ROOT_AUTH } }

config:
  processors:
    k8sattributes:
      auth_type: "serviceAccount"
      passthrough: false
      extract:
        metadata:
          - k8s.pod.name
          - k8s.deployment.name
          - k8s.namespace.name
    routing:
      from_attribute: k8s.namespace.name
      table:
        - value: devteam-1
          exporters: [otlphttp/devteam1]
        - value: o2-system
          exporters: [otlphttp/platform_obs]
        - value: openobserve-collector-system
          exporters: [otlphttp/platform_obs]
      default_exporters: [otlphttp/platform_k8s]

  exporters:
    otlphttp/platform_k8s:
      endpoint: "http://openobserve-router.o2-system.svc.cluster.local:5080/api/platform-k8s"
      tls: { insecure: true }
      headers:
        Authorization: "Basic ${env:ROOT_AUTH}"

    otlphttp/platform_obs:
      endpoint: "http://openobserve-router.o2-system.svc.cluster.local:5080/api/platform-obs"
      tls: { insecure: true }
      headers:
        Authorization: "Basic ${env:ROOT_AUTH}"

    otlphttp/devteam1:
      endpoint: "http://openobserve-router.o2-system.svc.cluster.local:5080/api/devteam-1"
      tls: { insecure: true }
      headers:
        Authorization: "Basic ${env:ROOT_AUTH}"

  service:
    pipelines:
      logs:
        processors: [k8sattributes, routing]
        exporters: [otlphttp/platform_k8s, otlphttp/platform_obs, otlphttp/devteam1]
      metrics:
        processors: [k8sattributes, routing]
        exporters: [otlphttp/platform_k8s, otlphttp/platform_obs, otlphttp/devteam1]
      traces:
        processors: [k8sattributes, routing]
        exporters: [otlphttp/platform_k8s, otlphttp/platform_obs, otlphttp/devteam1]